# Common image formats
*.jpg
*.jpe
*.jif
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico
*.heic
*.avif
*.ai
*.eps
*.indd
*.pdf
*.tga
*.heic
*.avif
*.exr
*.dng
*.cr2
*.nef
*.orf
*.arw
*.raf
*.sr2
*.x3f
*.jxr
*.tga
*.exr
*.jxr
*/__pycache__/
*.log